<form class="my-3" ng-submit="todosCtrl.addTodo()" name="addForm">
   	<div class="input-group">
    	<div class="input-group-prepend">
    		<span class="input-group-text">
    			Description
    		</span>
    	</div>
        <input type="text" class="form-control" ng-model="todosCtrl.todo.description" name="description" required>
        <div class="input-group-append">
        	<button type="submit" class="btn btn-success" ng-disabled="addForm.description.$invalid">Add Todo</button>
        </div>
    </div>
</form>
<table class="table table-hover table-bordered">
    <thead>
        <th>Description</th>
        <th>Status</th>
        <th>Completed At</th>
        <th class="text-right">Actions</th>
    </thead>
    <tbody>
        <tr ng-repeat="todo in todosCtrl.todos track by todo.id">
            <td>{{::todo.description}}</td>
            <td>{{::todo.completed?'Completed':'Pending'}}</td>
            <td>{{::todo.completedAt | date}}</td>
            <td class="text-right">
                <button class="btn btn-sm btn-primary" ui-sref="home.updateTodo({id:$index})">Edit</button>
                <button class="btn btn-sm btn-warning" ng-click="todosCtrl.deleteTodo(todo.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>