<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover table-bordered">
            <thead>
                <th class="text-left">Description</th>
                <th>Status</th>
                <th>Completed At</th>
                <th class="text-right">Action</th>
            </thead>
            <tbody>
                <tr ng-repeat="todo in todos">
                    <td class="text-left">{{::todo.description}}</td>
                    <td>{{::todo.status | uppercase}}</td>
                    <td>{{::todo.completedAt | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <a ui-sref="todos.edit({id:$index})" class="btn btn-sm btn-primary">Edit</a>
                        <button ng-click="deleteTodo(todo.id)" class="btn btn-sm btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>